.home {
    background-image: url(../images/bg-hero-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $Very-Pale-Cyan;
    padding-bottom: 30px;
}